.text-center{
    text-align: center;
    color: rgb(250, 248, 246);
    padding: 50px;
    font-size: 40px;
}

.container{
    background-color: rgba(0,0,0,0.6) !important;
    padding: 30px;
}

.mx-auto{
    margin:auto;
}

.m-w-30{
    max-width: 30vw;
}

.flex{

    display: flex;
}
.flex-col{
    flex-direction: column;
}

.item-center{
    align-items: center;
}